Source: kdotool
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: https://github.com/jinliu/kdotool


Package: kdotool
Architecture: amd64
Description: An xdotool clone for Plasma Wayland.
 Package to add kdotool to the distribution.
